<!--h1>
    {{title}}
</h1>

<meu-primeiro-component></meu-primeiro-component>
<app-cursos></app-cursos-->
<!--app-data-binding></app-data-binding-->
<!--app-diretiva-ngif></app-diretiva-ngif-->
<!--app-diretivas-ngswitch></app-diretivas-ngswitch-->
<!--app-diretiva-ngfor></app-diretiva-ngfor-->
<!--app-diretiva-ngclass></app-diretiva-ngclass-->
<!--app-diretivas-ngstyle></app-diretivas-ngstyle-->
<!--app-operador-elvis></app-operador-elvis-->
<app-diretiva-ngcontent>
    <div class="titulo">Título do Painel</div>
    <div class="corpo">Passando conteudo para o componente</div>
</app-diretiva-ngcontent>